h1,
h2,
h3 {
  font-family: 'Overlock', cursive;
}
p,
a,
button {
  font-family: 'Simonetta', serif;
}
h2,
.heading {
  font-size: 35px;
  padding-top: 12px;
  margin: 0.67em 0;
}
ul,
.list {
  list-style: none;
  padding: 0 0 0 25px;
  line-height: 1.5em;
  font-size: 18px;
}
a,
.link {
  color: #333;
  text-decoration: none;
}
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
