.this {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 0 10%;
  max-width: 450px;
}

.this h3,
.this p { width: 100%; }
.this a { text-decoration: underline; }
.description {
  margin-bottom: 25px;
}
.description h3,
.description h4,
.description p {
  margin-bottom: 15px;
}

