.this {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0 10%;
}

.title {
  font-size: 3.4em; line-height: 4.3rem;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  transition: font-size 160ms linear;
}

.tagline {
  font-size: 1.1em; line-height: 2.67em;
  font-weight: light;
  letter-spacing: 0.023em;
  margin-bottom: 25px;
  transition: font-size 160ms linear;
}

.link {
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .title { font-size: 3.8em; }
  .tagline { font-size: 1.3em; }
}

@media only screen and (min-width: 700px) {
  .title { font-size: 4.3em; }
  .tagline { font-size: 1.4em; }
}
