@import 'normalize.css/normalize.css';
@import url(https://fonts.googleapis.com/css?family=Overlock|Simonetta|Patrick+Hand+SC|Life+Savers|Raleway+Dots);
@import '../shared-styles/typography.css';

html,
body,
.perspective { width: 100%; height: 100%; }

.perspective { position: relative; }

.container {
  background: #fff;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0,0,0,0);
  z-index: 10;
}
.container.transform {
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
  transform: translateZ(0) translateX(0) rotateY(0deg);
}
.container::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 0px;
  opacity: 0;
  background: rgba(0,0,0,0.2);
  /* the transition delay of the height needs to be synced with the container transition time */
  -webkit-transition: opacity 0.4s, height 0s 0.4s;
  transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper { position: relative; overflow: hidden; }

/* Modal view */
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.modalview .container {
  position: absolute;
  overflow: hidden;
  width: 100%; height: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modalview .wrapper {
  -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
  opacity: 1;
  height: 101%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
  position: absolute;
  height: auto;
  font-size: 2em;
  z-index: 20;
}

.outer-nav.horizontal {
  left: 50%;
  width: 75%;
  max-width: 1000px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outer-nav.top { top: 25%; }

/* Effect Move Down */
.effect-movedown { background: #34495e; }

.effect-movedown .container {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.effect-movedown .container::after {
  background: rgba(52, 73, 94, 0.5);
}

.effect-movedown.animate .container {
  -webkit-transform: translateY(100%) translateZ(-1500px);
  transform: translateY(100%) translateZ(-1500px);
}

.no-csstransforms3d .effect-movedown.animate .container { top: 75%; }

/* Media Queries */
@media screen and (max-width: 77em) {
  .outer-nav.top { top: 15%; }
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {
  .outer-nav.top { top: 5%; }
}
